.cart_product_image {
    width: 163px;
    height: 128px;
    border: 2px solid #eee;
}

.sub_heading {
    height: 24px;
    font-family: "Oswald", serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 0.0015em;
}

.margin_40 {
    margin-top: 40px;
}

.heading_container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px 4px 4px 0px;
}

.body_2 {
    font-family: "Nunito", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.0025em;
    color: #2B2B2B;
}

.quantity_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 2px;
}

.quantity_text {
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.0025em;
    color: #555555;
}

.product_section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
}

.product_section_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 4px;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
}

.quantity_control {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 8px;
}