.padding {
    padding: 0 16px 40px;
    margin-top: 24px;
    width: 100%;
    max-width: 1136px;
    display: flex;
    flex-wrap: wrap;
}

.img_container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    /* max-width: 488px; */
}

.product_img {
    width: 100%;
    height: 320px;
    border: 2px solid #eee;
    object-fit: cover;
}

.product_other_img_container {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

.product_other_img {
    width: 40px;
    height: 40px;
    border: 2px solid #eee;
    object-fit: cover;
    cursor: pointer;
}

.product_info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.heading_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    padding: 4px 0px;
    width: 100%;
}

.heading_5 {
    font-family: "Oswald", serif;
    font-style: normal;
    font-weight: normal;
    font-size: 31px;
    line-height: 46px;
    letter-spacing: 0.0025em;
    color: #2B2B2B;
}

.heading_6 {
    font-family: "Oswald", serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 33px;
    color: #000000;
}

.text_size {
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 27px;
    letter-spacing: 0.005em;
    color: #2B2B2B;
}

@media screen and (min-width: 540px) {

    .padding {
        /* width: 50%; */
    }

}

@media screen and (min-width: 768px) {

    .padding {
        justify-content: space-between;
        align-items: center;
    }

    .img_container {
        height: 100%;
    }

    .product_img {
        height: 42.9vh;
    }

    .product_other_img {
        width: 56px;
        height: 64px;
    }
}

@media screen and (min-width: 1080px) {
    .padding {
        margin: 104px auto 0;
    }

    .line_divider {
        width: 1px;
        height: 624px;
        background: #000000;
        margin: 0 24px;
    }

    .product_img {
        height: 60.4vh;

    }

    .img_container {
        max-width: 488px;
    }

    .heading_container {
        max-width: 488px;
    }
}
