.App,
body {
  overflow-x: hidden;
}

*,
*::before,
*::after {
  font: 62.5% "Oswald",
    sans-serif;
  box-sizing: border-box;
}

.flex {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 0px;
}

.section_container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 56px auto 0;
  max-width: 992px;
}

.no_underline {
  text-decoration: none;
  width: fit-content;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.flex_row_gap {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 0px;
  gap: 16px;
  overflow: auto;
}

.margin {
  gap: 8px;
  margin-left: 16px;
  width: fit-content;
}

@media screen and (min-width: 768px) {

  .margin {
    margin-left: 0px;
  }
}

section .flex_row_gap::-webkit-scrollbar {
  display: none;
}

.arrow-right {
  position: absolute;
  right: 16px;
  top: 29px;
}

.column_gap {
  gap: 16px;
  margin-top: 120px;
  align-items: center;
}

.padding {
  padding: 0 16px;
}

.margin_4 {
  margin-top: 4px;
}

@media screen and (min-width: 768px) {
  .section_container {
    padding: 0 0 0 24px;
  }
}

@media screen and (min-width: 1080px) {
  .section_container {
    padding: 0;
  }
}